<div class="row" style="display:none" id="emailData">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title" id="emailDataTitle">
                <h2>
                    From:
                    <span id="emailFrom"></span>
                    <small id="emailReceivedGMT"></small>
                </h2>
                <ul class="nav navbar-right panel_toolbox" id="emailDataButtons">
                    <li>
                        <a href="#" data-baseAddress="@Url.Action("Index","Email")" title="open in new window" target="_blank" id="singleEmailPermalink"><i class="fa fa-link"></i></a>
                    </li>
                    <li>
                        <a id="backToEmailsView" title="close"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row" id="emailDataSubject">
                    <div class="col-md-12">
                        <h3 class="prod_title">
                            Subject: <span id="emailSubject"></span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <iframe class="col-md-12" id="emailBody"></iframe>
                </div>
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>

