@{
    ViewBag.Title = "Admin panel";
}

<!-- top tiles -->
<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total subscriptions </span>
        <div class="count" id="totalSubscriptions"></div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Confirmed subscriptions</span>
        <div class="count" id="totalConfirmedSubscriptions"></div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Confirmed subscriptions last week</span>
        <div class="count green" id="confirmedSubscriptionsLastWeek"></div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Confirmed subscriptions this week</span>
        <div class="count" id="confirmedSubscriptionsThisWeek"></div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Confirmed subscriptions last month</span>
        <div class="count" id="confirmedSubscriptionsLastMonth"></div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Confirmed subscriptions this month</span>
        <div class="count" id="confirmedSubscriptionsThisMonth"></div>
    </div>
</div>
<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count col-md-offset-4 col-sm-offset-4 col-xs-offset-3">
        <span class="count_top"><i class="fa fa-user"></i> Subscriptions remaining until target </span>
        <div class="count" id="subscriptionsBeforeTarget"></div>
        @*<span class="count_bottom"><i class="green">4% </i> From last Week</span>*@
    </div>
</div>
<!-- /top tiles -->

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 id="confirmedSubscriptionChartTitle">
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="datatable-checkbox_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-sm-12" id="confirmedSubscriptionChartBody" style="width:90%; height:510px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center center-block">
                            <button class="btn btn-success" id="downloadUserGuide">Download data entry user guide</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        $.get('@Url.Action("GetMetrics", "Publisher")').done(function (data) {
            $("#totalSubscriptions").html(data.TotalSubscriptions);
            $("#totalConfirmedSubscriptions").html(data.TotalConfirmedSubscriptions);
            $("#confirmedSubscriptionsLastWeek").html(data.ConfirmedSubscriptionsLastWeek);
            $("#confirmedSubscriptionsThisWeek").html(data.ConfirmedSubscriptionsThisWeek);
            $("#confirmedSubscriptionsLastMonth").html(data.ConfirmedSubscriptionsLastMonth);
            $("#confirmedSubscriptionsThisMonth").html(data.ConfirmedSubscriptionsThisMonth);
            $("#subscriptionsBeforeTarget").html(data.SubscriptionsBeforeTarget);
        });
        $.get('@Url.Action("GetConfirmedSubscriptionsChartData", "Publisher")').done(function (data) {
            chartHelper.drawLineTimeChart(data, 'confirmedSubscriptionChartBody', 'confirmedSubscriptionChartTitle');
        })
        $("#downloadUserGuide").click(function () {
            window.location.href = '/Content/docs/Instructions.for.EMMA.data.entry.v1.0.docx';
        });
    </script>
    }