#rememberMe input[type=checkbox] {
    margin-left:0px;
}
#menuProjectName i {
    border:0px;
}
.filterWithLongText {
    min-width:600px !important;
}

.jstree-default a { 
    white-space:normal !important; height: auto; 
}
.jstree-anchor {
    height: auto !important;
}
.jstree-default li > ins { 
    vertical-align:top; 
}
.jstree-leaf {
    height: auto;
}
.jstree-leaf a{
    height: auto !important;
}

#naceTree .tooltip-inner {
    max-width: 950px;
    /* If max-width does not work, try using width instead */
    width: 950px; 
}

.naceTree {
    text-align:left;
}
.naceTree td:nth-child(1) {  
  width:100px;
}
.naceTree tr > td
{
  padding-bottom: 5px;
}
.full-width {
 width:100%;
 }
.top_nav, .right_col, footer {
    margin-left:0px !important;
}
.nav.navbar-nav.navbar-right {
    width:30%;
}
.current-page {
    background: #D9DEE4 !important;
}
.top_nav {
    width:100%;
    z-index:10;
}
.selectedTdItem {
    background-color:#c7c7c7 !important;
}
.full-width-important {
    width:100% !important;
}
#singleEmailPermalink {
    margin-left:100px;
}
.sorting, .sorting_asc, .sorting_desc {
    cursor:pointer !important;
}